name: Automated Preprocessing

on:
  push:
    branches:
      - main
    paths:
      - "preprocessing/**"
      - "banktransactions_raw.csv"

  workflow_dispatch:

jobs:
  preprocessing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas numpy scikit-learn

      - name: Run preprocessing script
        run: |
          cd preprocessing
          python automate_MuhammadAflahGhoziSusanto.py

      - name: Commit preprocessing result
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add preprocessing/banktransactions_preprocessing.csv
          git commit -m "auto: update preprocessed dataset" || echo "No changes to commit"
          git push
