name: Automated Preprocessing

permissions:
  contents: write

concurrency:
  group: preprocessing-main
  cancel-in-progress: true

on:
  push:
    branches:
      - main
    paths:
      - "preprocessing/automate_MuhammadAflahGhoziSusanto.py"
      - "preprocessing/Eksperimen_MuhammadAflahGhoziSusanto.ipynb"
      - "heart_raw.csv"

  workflow_dispatch:

jobs:
  preprocessing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas numpy scikit-learn

      - name: Run preprocessing script
        run: |
          cd preprocessing
          python automate_MuhammadAflahGhoziSusanto.py

      - name: Commit preprocessing result
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"

          git add preprocessing/heart_preprocessing.csv

          if git diff --staged --quiet; then
            echo "No changes to commit"
          else
            git commit -m "auto: update heart preprocessing dataset"
            git push origin main --force-with-lease
          fi
